* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  color: black;
}
header .container {
  max-width: 1500px;
  margin: 0px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo {
  color: #333;
  font-size: 30.7px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1);

  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.2s ease;
}
.logo:hover {
  transform: scale(1.05);
  color: #cb6ce6;
}
.logo:active {
  transform: scale(0.95);
  color: #333;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 25px;
}

header div nav ul {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  gap: 25px;
  margin-left: 700px;
}
nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #737373;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
}
nav ul li a:hover {
  color: #cb6ce6;
  transform: scale(1.1);
}

header nav ul li.dropdown {
  position: relative;
}
.dropbox {
  position: absolute;
  top: calc(100% + 9px);
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: top center;
  background-color: #333;
  color: white;
  border-radius: 10px;
  min-width: 180px;
  min-height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;

  opacity: 0;
  pointer-events: none;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.25s ease;
}
.drop-content {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: block;
}
.drop-content li a {
  display: inline-block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
  border-radius: 6px;
}
.drop-arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
}
li.dropdown:hover .dropbox {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: auto;
}

.button-login {
  display: inline-block;
  background-color: #cb6ce6;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.25s ease;
}
.button-login:hover {
  transform: scale(1.05);
}
.button-login:active {
  transform: scale(0.95);
  background-color: #a64dc7;
}

body {
  background: linear-gradient(to right, #e3fdf5, #ffe6fa);
}

.forgot-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px 50px;
  opacity: 1;
  gap: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: transform 0.3s ease;
}

.chaomung {
  color: #cb6ce6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.text-forgot {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}
.text-forgot .text-notice {
  font-weight: lighter;
}

.label-email {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
  font-weight: bold;
}

.label-email i {
  position: absolute;
  top: 55%;
  left: 20px;
  color: #cb6ce6;
}

input {
  height: 50px;
  border-radius: 12px;
  padding: 0 65px;
  font-size: 15px;

  transition: transform 0.3s ease, border 0.25s ease,
    background-color 0.25s ease;
}

input:focus {
  outline: none;
  border: 2px solid #cb6ce6;
  background-color: #fdf9ff;
}

.button-login2 {
  width: 400px;
  height: 50px;
  background-color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  color: white;
  font-size: 30.7px;
  font-weight: bold;

  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.2s ease;
}
.button-login2:hover {
  transform: scale(1.05);
  background-color: #cb6ce6;
}
.button-login2:active {
  transform: scale(0.95);
  background-color: #a64dc7;
}

.complete .complete-text {
  color: #a64dc7;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  opacity: 0;
  pointer-events: none;
  transform-origin: top;
  transform: scale(0.8);
  transition: opacity 0.25s ease, transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}
.complete-text.active {
  display: flex;
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
  transition: color 0.2s ease;
}

.complete .complete-text a {
  text-decoration: none;

  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
}
.complete .complete-text a:hover {
  transform: scale(1.05);
}
.complete .complete-text a:active {
  color: #a64dc7;
  transform: scale(0.95);
}

.repass-container {
  display: none;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px 50px;
  opacity: 0;
  gap: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.35s cubic-bezier(0.25, 1, 0.5, 1);
}

.text-repass {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.text-repass .chaomung-repass {
  color: #cb6ce6;
}

.label-pass {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
  font-weight: bold;
}
.label-pass i {
  position: absolute;
  top: 55%;
  left: 20px;
  color: #cb6ce6;
}

.re-pass {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}
.re-pass i {
  position: absolute;
  top: 55%;
  left: 20px;
  color: #cb6ce6;
}

.button-repass {
  width: 400px;
  height: 50px;
  background-color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  color: white;
  font-size: 30.7px;
  font-weight: bold;

  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.2s ease;
}
.button-repass:hover {
  transform: scale(1.05);
  background-color: #cb6ce6;
}
.button-repass:active {
  transform: scale(0.95);
  background-color: #a64dc7;
}
.notice-text {
  display: none;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  color: #cb6ce6;
  margin-top: 25px;

  opacity: 0;
  cursor: pointer;
  transform-origin: top center;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.2s ease,
    color 0.2s ease;
}
.notice-text.active {
  display: flex;
  opacity: 1;
}
.notice-text:hover {
  transform: scale(1.05);
  color: #a64dc7;
}
.notice-text:active {
  transform: scale(0.95);
  color: #cb6ce6;
}

.complete-repass .complete-text {
  display: none;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  max-width: 400px;
  color: #a64dc7;
  margin-top: 25px;

  opacity: 0;
  cursor: pointer;
  transform-origin: top center;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.2s ease,
    color 0.2s ease;
}
.complete-repass .complete-text:hover {
  transform: scale(1.05);
  color: #cb6ce6;
}
.complete-repass .complete-text:active {
  transform: scale(0.95);
  color: #a64dc7;
}
.complete-repass .complete-text.active {
  display: flex;
  opacity: 1;
}
