* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  color: black;
}
header .container {
  max-width: 1500px;
  margin: 10px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.logo {
  color: #333;
  font-size: 30.7px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1);

  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0.2s ease;
}
.logo:hover {
  transform: scale(1.05);
  color: #cb6ce6;
}
.logo:active {
  transform: scale(0.95);
  color: #333;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 25px;
}

header div nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: nowrap;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #737373;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
}
nav ul li a:hover {
  color: #cb6ce6;
  transform: scale(1.1);
}

header nav ul li.dropdown {
  position: relative;
}
.dropbox {
  position: absolute;
  top: calc(100% + 9px);
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: top center;
  background-color: #333;
  color: white;
  border-radius: 10px;
  min-width: 180px;
  min-height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;

  opacity: 0;
  pointer-events: none;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.25s ease;
}
.drop-content {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: inline-block;
  width: fit-content;
}
.drop-content li a {
  display: inline-block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
  border-radius: 6px;
}
.drop-arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
}
li.dropdown:hover .dropbox {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: auto;
}

.button-login {
  display: inline-block;
  background-color: #cb6ce6;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-left: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1),
    background-color 0s ease;
}
.button-login:hover {
  transform: scale(1.05);
}
.button-login:active {
  transform: scale(0.95);
  background-color: #a64dc7;
}
.btn {
  transition: color 0.2s ease;
}
.button-login.logged-btn {
  background-color: white;
  color: #737373;
  font-size: 30px;
  transform: scale(1);

  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
}
.button-login.logged-btn:hover {
  transform: scale(1.2);
  color: #cb6ce6;
}
.btn.logged-divbtn {
  position: relative;
}
.btn.logged-divbtn .btn-dropbox {
  position: absolute;
  display: flex;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: top center;
  background-color: #333;
  color: white;
  border-radius: 10px;
  min-width: 100px;
  min-height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;

  opacity: 0;
  pointer-events: none;
  transition: transform 0.35s ease, opacity 0.25s ease;
}
.btn .btn-dropbox {
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: transform 0.35s, opacity 0.25s ease;
  transform: translateX(-50%) scale(0.8);
}
.btn.logged-divbtn .btn-dropcontent {
  display: block;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.btn.logged-divbtn .btn-dropcontent li a {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  transition: transform 0.35s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s ease;
  border-radius: 6px;
}
.btn.logged-divbtn .btn-droparrow {
  position: absolute;
  top: -8px;
  left: 60%;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
}

.btn.logged-divbtn:hover .btn-dropbox {
  opacity: 1;
  display: flex;
  transform: scale(1);
  transform: translate(-50%);
  pointer-events: auto;
}
.btn.logged-divbtn .btn-dropcontent li a:hover {
  color: #cb6ce6;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #e3fdf5, #ffe6fa);
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 10px 0px;
  padding: 20px;
  height: 80vh;
  width: 100vw;
}
.hero-icon {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: #545454;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30.7px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-left: 70px;
  margin-top: -400px;

  transform: rotate(-5deg);
}

.hero-slogan ul {
  list-style: none;
  color: #cb6ce6;
  font-size: 70px;
  font-weight: bold;
}

.hero-slogan {
  position: absolute;
  max-width: 540px;
  margin-top: -150px;
  margin-left: 70px;
}
.hero-intro .highlight {
  color: #cb6ce6;
  font-weight: bold;
}

.hero-intro {
  font-size: 18px;
  max-width: 540px;
  position: absolute;
  margin-top: 100px;
  margin-left: 70px;
}

.icon-demo li {
  list-style: none;
  transition: transform 0.25s ease, color 0.2s ease;
}
.icon-demo li a {
  text-decoration: none;
  color: #cb6ce6;
  font-weight: lighter;
  transform: scale(1);
  transition: transform 0.25s ease, color 0.2s ease;
}
.icon-demo li:hover {
  text-decoration: underline;
  color: #a64dc7;
  transform: scale(1.1);
}

.icon-demo {
  position: absolute;
  margin-top: 225px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.hero-tag {
  position: absolute;
  margin-left: 70px;
  margin-top: 450px;
  opacity: 0.5;
}
